/* Projects Section */

.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 10px;
    margin: 1280px;
    margin: 15px auto;
}
 
.projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the list items horizontally */
  margin-top: 30px;
  padding: 0; /* Remove default padding */
}

.projects ul li {
  align-items: center;
  list-style: none;
  background: #eee;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 1.3em;
  white-space: nowrap; /* Prevent line break for long text */
  border-radius: 15px;
  padding: 5px 20px;}

@media screen and (max-width: 500px) {
  .projects ul li {
    flex-basis: 25%; /* Make each item take up 50% width on smaller screens */
    padding: 8px; /* Adjust padding as needed */
    font-size: 18px;
    text-align: center; /* Center the text on smaller screens */
  }
} 
  
  .projects ul li.active{
    background-color: #2c7bfe;
    color:#fff;
}

.product {
  margin-top: 22px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Add space between the item boxes */
}

.product .itemBox {
  position: relative;
  flex-basis: calc(33.33% - 40px); /* Adjust the flex-basis to allow three item boxes in a row with margin */
  max-width: 1000px; /* Change width to max-width for responsiveness */
  height: 300px;
  margin: 20px;
}

.itemBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.itemBox:hover img {
  transform: scale(0.9);
}

.itemBox .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.itemBox:hover .overlay {
  opacity: 1;
}

.itemBox .description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.itemBox:hover .description {
  opacity: 1;
}

@media (max-width: 768px) {
  .product .itemBox {
    flex-basis: calc(50% - 40px); /* For screens less than 768px, two item boxes in a row */
  }
}

@media (max-width: 480px) {
  .product .itemBox {
    flex-basis: calc(100% - 40px); /* For screens less than 480px, one item box in a row */
  }
}
  
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(24, 22, 22, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn-icon {
  background-color: #2c7bfe;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

.btn-icon:hover{
  font-size: 1.2em;
}
/* Text inside the button */
.text {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 7px;
  color: #ffffff;
}

.text h2 {
  font-size: 18px;
  font-weight: bold;
}
/* Description inside the Modal */
.heading {
  text-align: center;
  margin-bottom: 20px;
}

.details {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
}

.details p {
  font-size: 1.1em;
  justify-content: center;
  margin-bottom: 10px;
}

.details ul {
  margin-bottom: 10px;
  padding-left: 20px;
}

.details li {
  justify-content: center;
  list-style-type: disc;
}

.details a {

  display: block;
  text-align: center;
  margin-top: 20px;
  color: #130303;
  text-decoration: none;
}

.details a:hover {
  text-decoration: underline;
}
.details a {
  display: block;
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
  color: #130303;
  text-decoration: none;
}

/* Services Section */

.services{
  position: relative;
  display:inline-block;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex-basis: 33.3%;
  padding: 8px 12px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .column {
    flex-basis: 100%;
  }
}

.services .card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
.services h3 {
  text-align: justify;
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
.services p {
  text-align: justify;
  color: #575a7b;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  background-color: #2c7bfe;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.services .card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #2c7bfe;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}


/* Contact Form */

.contain{
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
}

div.form {
  width:100%;
  border-radius: 20px;
  background-color: #9ea2a2;
}

.submit-btn {
  float: left;
}
.reset-btn {
  float: right;
}

.highlight-text {
  font-size: 1.3em;
  font-weight: 800;
  color: #ff0157;
}

.hightlight-contact-info {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
}

.highlight-text-grey {
  font-weight: 700;
}

.email-info {
  font-weight: 100;
  color:#ff0157;
  margin-top: 2px;
}

::-webkit-input-placeholder { /* Chrome */
  font-family: 'Roboto', sans-serif;
}

.required-input{
  font-weight: 500;
  color: black;
}
@media (min-width: 600px) {
  .contain {
    padding: 0;
  }
}

.form-input:focus,
textarea:focus{
  outline: 1.5px solid #2c7bfe;
}

.form-input,
textarea {
  width: 100%;
  border: 1.5px solid #bdbdbd;
  border-radius: 12px;
}

.wrappers > * {
  padding: 1em;
}
@media (min-width: 700px) {
  .wrappers{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .wrappers > * {
    padding: 2em 2em;
  }
}

.form h1{
  font-size: 1.5em;
  font-weight: 900;
  color:#ffffff;
  margin-top: -10px;
  padding-bottom: 10px;
}

.form {
  background: #fff;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
form label {
  display: block;
}
form p {
  margin: 0;
}

.full-width {
  font-weight: 500;
  font-size: 1.2em;
  grid-column: 1 / 3;
}

.form-input{
  font-size: 0.9em;
}

button,
.submit-btn,
.form-input,
textarea {
  padding: 1em;
}

button, .submit-btn {
  background: transparent;
  border: none;
  background-color: #ff0157;
  color: white;
  font-weight: 700;
  border-radius: 15px;
  padding: 5px 20px;
  text-transform: uppercase;
}
button:hover, .submit-btn:hover,
button:focus , .submit-btn:focus{
  background: #2c7bfe;
  border:#2c7bfe;
  outline: 0;
  color: #eee;
}
.error {
  font-size: 1em;
  font-weight: 800;
  color: #ec1c24;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center  ;
}

.contact-wrapper img{
  width: 250px; 
}
.email-info {
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
}

.email-address {
  display: block;
}

.contact-wrapper i {
  width:100%;
  color: #ff0157;
}

@media (max-width: 768px) {
  .contact-wrapper {
    width:100%;
    flex-direction: column;
  }
  
  .contact-wrapper i {
    margin-bottom: 5px;
  }

  .email-info {
    font-size: 18px;
  }
}

/* Footer Section */
footer{
	position: fixed;
  font-weight: 500;
  left: 0;
  bottom: 0;   
  width: 100%;
  background-color: #f2f2f2;
  padding: 11.5px;
  text-align: center;
}